---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: laslo-deployment-worker
  namespace: laslo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: scolas3/worker:latest
          env:
            - name: REDIS_HOST
              value: laslo-svc-redis
            - name: DB_HOST
              value: laslo-svc-postgres
            - name: DB_USERNAME
              value: postgres
            - name: DB_PASSWORD
              value: postgres
            - name: DB_NAME
              value: postgres
