---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: laslo-deployment-vote
  namespace: laslo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
    spec:
      containers:
        - name: vote
          image: scolas3/vote:latest
          env:
            - name: REDIS_HOST
              value: laslo-svc-redis
          ports:
            - containerPort: 80
