---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: laslo-deployment-vote
  namespace: laslo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
    spec:
      containers:
        - name: vote
          image: scolas3/vote:latest
          env:
            - name: REDIS_HOST
              valueFrom:
                secretKeyRef:
                  name: laslo-vote-sec
                  key: REDIS_HOST
          ports:
            - containerPort: 80
