---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: laslo-deployment-postgres
  namespace: laslo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15-alpine
          env:
            - name: POSTGRES_USER
              valueFrom: 
                secretKeyRef:
                  name: laslo-postgres-sec
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom: 
                secretKeyRef:
                  name: laslo-postgres-sec
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              valueFrom: 
                secretKeyRef:
                  name: laslo-postgres-sec
                  key: POSTGRES_DB
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: laslo-pvc-postgres
