---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: laslo-pvc-postgres
  namespace: laslo
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2
  resources:
    requests:
      storage: 4Gi
